<h1><%= t("new_banner") %></h1>
<%= render "spree/shared/error_messages", :target => @banner %>

<%= semantic_form_for([:admin, @banner]) do |f| %>
	<fieldset data-hook="new_product">
	  <%= render :partial => "form", :locals => { :f => f } %>
	  
	  <p class="form-buttons" data-hook="buttons">
	    <%= button t("actions.create")%>
	    <%= t("or") %> <%= link_to t("actions.cancel"), admin_banners_path %>
	  </p>
	</fieldset>
<% end %>